{% extends "base.html" %}
{% block schema %}
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [
        {% for faq in faqs %}
            {
              "@type": "Question",
              "name": "{{ faq.question }}",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "{{ faq.value }}"
                  }
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]
      }
    </script>
{% endblock %}
{% block content %}
    <div class="border-bottom border-5 border-black">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6">
                    <div class="position-sticky" style="top: 50px">
                        <h1 class="page-header mb-3 fw-semibold lh-1">{{ g.i18n.faq_title }}</h1>
                        <p>{{ g.i18n.faq_meta_description }}</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bsb-timeline-1 pt-5 pt-xl-8 ms-2">
                        <ul class="timeline">
                            {% for faq in faqs %}
                                <li class="timeline-item">
                                    <div class="timeline-body">
                                        <div class="timeline-content">
                                            <div class="card border-0">
                                                <div class="card-body p-0">
                                                    <h5 class="card-subtitle mb-1 fw-bold">{{ faq.question }}</h5>
                                                    <p class="card-text m-0">{{ faq.value }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="border-bottom border-5 border-black bg-white mb-5 pb-5">
        <div class="container">
            <div class="text-center pt-5">
                <div class="col-sm-6 mx-auto">
                    <h2>{{ g.i18n.try_now }}</h2>
                    <p>{{ g.i18n.try_now_description }}</p>
                    <a href="{% url "index" %}?lang={{ g.lang.iso }}" class="mt-3 rounded-pill d-block btn btn-primary btn-lg">{{ g.i18n.start_now }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}