{% extends 'base.html' %}
{% block content %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="pixspeed-col">
                <h1 class="page-header fw-bold text-center">{{ g.i18n.login_title }}</h1>
                <div class="mt-5">
                    {% if errors %}
                        <div class="alert alert-danger">
                            {% for error in errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form action="{{ request.path }}" method="post" class="floating-label-form">
                        {% csrf_token %}
                        {% if data.next %}
                            <input type="hidden" name="next" value="{{ data.next }}">
                        {% endif %}
                        <div class="form-group">
                            <label for="email">{{ g.i18n.email_address }}</label>
                            <input id="email" type="email" name="email" class="form-control form-control-lg" value="{{ data.email | default:'' }}">
                        </div>
                        <div class="d-grid mt-3">
                            <button class="btn btn-primary d-block btn-lg rounded-pill" tabindex="3">{{ g.i18n.login_title }} →</button>
                        </div>
                    </form>
                </div>
                <div class="mt-5">
                    <a href="{% url 'signup' %}" class="btn d-block btn-light rounded-pill">{{ g.i18n.you_have_account }} <u><b>{{ g.i18n.register }}</b></u></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}