{% extends "base.html" %}
{% block content %}
    <div class="container py-3">
        <div class="row justify-content-center">
            <div class="pixspeed-col">
                <h1 class="page-header fw-bold">{{ g.i18n.api_pricing }}</h1>
                <div class="small mt-4">
                    <div class="w-100">{{ g.i18n.api_pricing_free_credits | safe }}</div>
                    <div class="d-flex w-100 pt-1 mt-1 border-top">
                        <div>{{ g.i18n.api_pricing_10k | safe }}</div>
                        <div class="ms-auto">{{ g.i18n.api_pricing_10k_price | safe }}</div>
                    </div>
                    <div class="d-flex w-100 pt-1 mt-1 border-top">
                        <div>{{ g.i18n.api_pricing_10k_upper | safe }}</div>
                        <div class="ms-auto">{{ g.i18n.api_pricing_10k_upper_price | safe }}</div>
                    </div>
                </div>
                <div class="bg-light-gray p-4 rounded-4 mt-4">
                    {% if errors %}
                        <div class="alert alert-danger mb-2">
                            {% for error in errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="authorize-container">
                        <form id="checkoutForm" action="{{ request.path }}" method="post" class="floating-label-form">
                            {% csrf_token %}
                            <input type="hidden" name="nonce">
                            <div id="card-container"></div>
                            <div class="form-group">
                                <label for="creditsRange" class="form-label">{{ g.i18n.credits }}</label>
                                <div class="form-text">{{ g.i18n.compressed_images }}: <span id="selectedCredits" class="fw-bold">2000</span></div>
                                <input type="range" name="credits" class="form-range" min="0" max="1000000" step="100" value="2000" id="creditsRange">
                            </div>
                            <div class="d-grid mt-5">
                                <button class="btn btn-lg btn-primary rounded-pill">{{ g.i18n.pay_now }} <span id="price" class="fw-bold">0</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ squareup.js }}"></script>
    <script defer>
        (function () {
            "use strict";
            $(document).ready(function () {
                var appId = "{{ squareup.app_id }}";
                var locationId = "{{ squareup.location_id }}";
                var creditsRange = $('#creditsRange');
                var priceElement = $('#price');
                var selectedCreditsElement = $('#selectedCredits');

                creditsRange.on("input", updateCreditsAndPrice);
                $('#checkoutForm').on("submit", onSubmitForm);

                selectedCreditsElement.text(formatCredits(creditsRange.val()));
                priceElement.text(calculatePrice(creditsRange.val()));

                async function onSubmitForm(e) {
                    e.preventDefault();
                    try {
                        const result = await card.tokenize();
                        if (result.status === 'OK') {
                            $('[name="nonce"]').val(result.token);
                            $('#checkoutForm').off("submit").submit(); // Envía el formulario después de obtener el token
                        } else {
                            $('#payment-status').text("Payment failed: " + result.errors[0].message);
                        }
                    } catch (error) {
                        $('#payment-status').text("Error processing payment: " + error.message);
                    }
                }

                function updateCreditsAndPrice() {
                    var credits = creditsRange.val();
                    selectedCreditsElement.text(formatCredits(credits));
                    priceElement.text(calculatePrice(credits));
                }

                function formatCredits(credits) {
                    return credits.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
                }

                function calculatePrice(credits) {
                    if (credits <= 10000) {
                        return (credits * 0.009).toFixed(2);
                    } else {
                        return (credits * 0.002).toFixed(2);
                    }
                }

                async function initializeSquare() {
                    if (!window.Square) {
                        $('#payment-status').text("Square payment SDK failed to load.");
                        return;
                    }

                    const payments = Square.payments(appId, locationId);
                    window.card = await payments.card();
                    await card.attach('#card-container');
                }

                initializeSquare();
            });
        }());
    </script>
{% endblock %}