{% extends "base.html" %}
{% block content %}
    <div class="container py-5">
        <h1 class="page-header mb-3 fw-semibold lh-1">{{ g.i18n.privacy_title }}</h1>
        <p>Thank you for using PixSpeed!</p>
        <p>Your privacy is important to us. It is PixSpeed’s policy to respect your privacy regarding any information we may collect from you across our website, https://pixspeed.com, and other sites we own and operate.</p>
        <p>We ask for personal information only when we need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also make clear why we’re collecting it and how it will be used.</p>
        <p>We retain collected information only as long as necessary to provide you with the requested service. We protect the data we store within commercially acceptable means to prevent loss, theft, and unauthorized access, disclosure, copying, or modification.</p>
        <p>We don’t share any personally identifying information publicly or with third parties, except as required by law.</p>
        <p>You are free to decline our request for your personal information, with the understanding that we may be unable to provide certain services without it.</p>
        <p>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, please feel free to contact us.</p>
    </div>
{% endblock %}