{% extends "base.html" %}
{% block content %}
    <div class="container py-5">
        <h1 class="page-header mb-3 fw-semibold lh-1">{{ g.i18n.terms_title }}</h1>
        <p>Welcome to PixSpeed! These Terms of Service ("Terms") govern your access to and use of the PixSpeed website, application, and services (collectively, the "Application" or "Service"). Please read these Terms carefully before accessing or using our Service.</p>
        <p>By accessing or using the Application, you agree to be bound by these Terms. If you do not agree to all the terms and conditions herein, you may not access or use the Application.</p>
        <h3>1. Eligibility</h3>
        <p>You must be at least 18 years old to use PixSpeed. By using this Application, you represent and warrant that you meet these eligibility requirements.</p>

        <h3>2. Modifications to the Terms</h3>
        <p>PixSpeed reserves the right to update or change these Terms at any time. If we make changes, we will post the updated Terms here and notify users through the Application or via email. Continued use of the Application after changes take effect constitutes your
            acceptance of the new Terms.</p>

        <h3>3. Use of the Application</h3>
        <p>PixSpeed grants you a limited, non-exclusive, non-transferable, and revocable license to use the Application for personal or internal business purposes only. You agree not to:</p>

        <p>Misuse the Application by attempting to harm, disrupt, or access it in unauthorized ways.</p>
        <p>Use automated means to scrape or extract data from the Application.</p>
        <p>Use the Application to process images in a way that violates copyright laws.</p>
        <h3>4. User Account</h3>
        <p>To access certain features of PixSpeed, you may need to create an account. You are responsible for safeguarding your account credentials and agree to notify us immediately of any unauthorized access or breach of security.</p>

        <h3>5. Image Processing</h3>
        <p>PixSpeed optimizes images to improve website performance. While we strive to maintain the quality of processed images, there may be minor changes in visual quality due to compression and optimization. PixSpeed is not responsible for the results or accuracy of image
            optimizations and does not guarantee specific performance improvements on your website.</p>

        <h3>6. Pricing and Payment</h3>
        <p>Some services within PixSpeed may require payment. All fees are in USD and are subject to applicable taxes. We reserve the right to modify pricing for our paid services with prior notice to users.</p>

        <h3>7. Refund Policy</h3>
        <p>All payments made for PixSpeed services are non-refundable, except where required by law or explicitly stated otherwise. If you experience issues with the service, please contact our support team.</p>

        <h3>8. Availability of Products and Services</h3>
        <p>The products and services described in and available through the Application may not be available in all regions. Those who choose to access the Application do so on their own initiative and are responsible for compliance with local laws. If use of the Application or
            any material, content, or services therein violates any applicable law in your jurisdiction, you are not authorized to use the Application and must exit immediately.</p>

        <h3>9. Intellectual Property Rights</h3>
        <p>All content, logos, graphics, and other materials within the Application are the property of PixSpeed or its licensors. You agree not to reproduce, distribute, or create derivative works from any content within the Application without our express written consent.</p>

        <h3>10. Privacy Policy</h3>
        <p>PixSpeed values your privacy. Please refer to our Privacy Policy for details on how we collect, use, and disclose information about our users.</p>

        <h3>11. Limitation of Liability</h3>
        <p>PixSpeed is not liable for any indirect, incidental, consequential, or punitive damages, or any loss of data, revenue, or business, arising from your use of the Application, even if we have been advised of the possibility of such damages.</p>

        <h3>12. Governing Law and Jurisdiction</h3>
        <p>This Agreement and any dispute arising out of or related to the Agreement or use of the Application shall be governed in all respects by and construed and enforced in accordance with the laws of Lima, Peru, without regard to its conflict of law principles. Exclusive
        jurisdiction over any cause of action arising from this Agreement or your use of the Application shall reside in the state or federal courts located in Lima, Peru. You further agree to submit to the personal jurisdiction of such courts for the purpose of litigating any
        such claim or action.</p>

        <h3>13. Termination</h3>
        <p>PixSpeed reserves the right to suspend or terminate your access to the Application at any time, with or without cause. Upon termination, your right to use the Application will cease immediately.</p>

        <h3>14. Contact Us</h3>
        <p>If you have any questions about these Terms, please contact us at [hola@loualcala.com].</p>
    </div>
{% endblock %}