{% extends "base.html" %}
{% block content %}
    <div id="fullWrapper" class="d-flex flex-column justify-content-center">
        <div class="container py-3">
            <div class="row justify-content-center">
                <div class="pixspeed-col-col">
                    <div class="text-center">
                        <div class="mb-2 thanks-check-icon">{% include "svgs/check.svg" %}</div>
                        <h1 class="fw-bold mt-4">{{ g.i18n.thanks_h1 }}</h1>
                        <div>{{ g.i18n.thanks_description }}</div>
                        <div class="mt-4">
                            <a href="{% url "index" %}" class="btn btn-outline-dark rounded-pill">← {{ g.i18n.back_home }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}