venv
config.py
.idea
*.vtt
*.pyc
__pycache__
.DS_Store
db.sqlite3
logs
static/uploads/*
!static/uploads/index.html
static/files/*
static/downloads/*
!static/downloads/index.html
static/chunks/*
!static/chunks/index.html
*/migrations/*.py
!*/migrations/__init__.py
/ansible/group_vars/all
/static/codes/
django_cache
!conversions/files/*.txt
