body {
    font-size: 16px;
    color: #000;
}

#footer {
    font-size: 12px;
    color: rgba(33, 37, 41, 0.75);
}

.page-header {
    font-size: 60px;
}

.page-lead {
    font-size: calc(1.275rem + .3vw);
}

.highlight {
    background-color: #f8f9fa;
}

.images-found .icon {
    height: 48px;
    width: 48px;
    border-radius: 3px;
    overflow: hidden;
}

.images-found .name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.images-found .icon img {
    object-fit: cover;
    height: 100% !important;
    width: 100% !important;
}

.images-found .found-images-list > div + div {
    margin-top: 5px;
}

.images-found .found-images-list > div {
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.total-images-found {
    background-color: #304166 !important;
    color: #fff !important;
}

.bd-masthead {
    --bd-pink-rgb: 214, 51, 132;
    padding: 3rem 0 0 0;
    background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%), radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%), radial-gradient(ellipse at top right, rgba(255, 228, 132, 0.5), transparent 50%), radial-gradient(ellipse at center right, rgba(112.520718, 44.062154, 249.437846, 0.5), transparent 50%), radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%);
}

.bd-navbar {
    padding: .75rem 0;
    background-color: transparent;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
}

.bd-navbar::after {
    position: absolute;
    inset: 0;
    z-index: -1;
    display: block;
    content: "";
    background-image: linear-gradient(rgba(112.520718, 44.062154, 249.437846, 1), rgba(112.520718, 44.062154, 249.437846, 0.95));
}

#webName {
    letter-spacing: 1px;
}

.bd-btn-lg {
    --bs-btn-border-radius: .5rem;
    padding: .8125rem 2rem;
}

.container {
    max-width: 1020px;
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #712cf9;
    --bs-btn-border-color: #712cf9;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.navbar-brand {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
}

.navbar-brand svg {
    height: 35px;
    width: 35px;
}

#navbarMenuContent a {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    border-radius: 5px;
    padding: 12px 18px;
    opacity: 1;
    transition: background 200ms;
}

.navbar .container {
    border-bottom: 1px solid #ccc;
}

.metric-item {
    background-color: #f8f9fa;
}

.metric-item .metric-header {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 1.4;
    margin: 0;
}

.metric-item .metric-value {
    font-size: 52px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.4;
}

.pre-title {
    color: rgb(156, 163, 175);
    font-size: 17px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1.3px;
    line-height: 1.4;
}

.after-title {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.4;
}

.form-text {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
}

.full-height {
    min-height: calc(100vh - 180px);
    padding-top: 50px;
    padding-bottom: 50px;
}

.captcha-formgroup fieldset {
    display: flex;
}

.captcha-formgroup legend {
    display: none !important;
}

.captcha-formgroup [type=text]:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.captcha-formgroup [type=text] {
    flex-grow: 1;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.captcha-formgroup img {
    flex: none;
    margin-right: 10px;
}

.captcha-formgroup legend {
    display: none !important;
}

.bsb-timeline-1 {
    --bsb-tl-color: var(--bs-primary-bg-subtle);
    --bsb-tl-circle-color: var(--bs-primary);
    --bsb-tl-circle-size: 18px;
    --bsb-tl-circle-offset: 9px;
}

.bsb-timeline-1 .timeline {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.bsb-timeline-1 .timeline > .timeline-item {
    margin: 0;
    padding: 0;
    position: relative;
}

.bsb-timeline-1 .timeline > .timeline-item:before {
    background-color: var(--bsb-tl-circle-color);
    border-radius: 50%;
    content: "";
    height: var(--bsb-tl-circle-size);
    left: calc(var(--bsb-tl-circle-offset) * -1);
    position: absolute;
    top: 0;
    width: var(--bsb-tl-circle-size);
    z-index: 1;
}

.bsb-timeline-1 .timeline > .timeline-item .timeline-body {
    margin: 0;
    padding: 0;
    position: relative;
}

.bsb-timeline-1 .timeline > .timeline-item .timeline-content {
    padding: 0 0 1.5rem 1.5rem;
}

.bsb-timeline-1 .timeline:after {
    background-color: var(--bsb-tl-color);
    bottom: 0;
    content: "";
    left: 0;
    margin-left: -1px;
    position: absolute;
    top: 0;
    width: 2px;
}

.spinner-border {
    margin-right: 10px;
}

.original-size {
    font-weight: 300;
    font-size: 24px;
    margin-right: 10px;
}

.remove-item svg,
.btn-success svg {
    height: 35px;
    width: 35px;
}

#navbarMenuContent a.btn {
    font-size: 16px;
}

.pixspeed-col {
    max-width: 520px;
}

#accountButton {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 120px;
}

.bg-light-gray {
    background-color: #f9f9f9;
}

#copy-confirmation {
    display: none;
    position: absolute;
    bottom: -15px;
}

.pointer {
    cursor: pointer;
}

@media (max-width: 480px) {
    .page-header {
        font-size: 50px;
    }
}