<!DOCTYPE html>
<html lang="{{ g.lang.iso }}">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta property="og:url" content="https://pixspeed.com/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ description | safe }}"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image" content="https://pixspeed.com/static/favicon.png"/>
    <meta name="description" content="{{ description | safe }}">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css?v={{ g.scripts_version }}">
    <link rel="icon" href="https://pixspeed.com/static/favicon.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "https://pixspeed.com/",
            "logo": "https://pixspeed.com/static/favicon.png",
            "sameAs": [],
            "description": "{{ description | safe }}",
            "name": "PixSpeed.com",
            "awards": [],
            "legalName": "PixSpeed.com",
            "contactPoint": {
                "contactType": "customer support",
                "email": "hola@loualcala.com",
                "url": "https://pixspeed.com/",
                "areaServed": [
                    "EN",
                    "SP",
                    "PT",
                ],
                "availableLanguage": [
                    "Portuguese",
                    "English",
                    "Spanish",
                ]
            }
        }
    </script>
    <link href="{{ request.path }}" hreflang="x-default" rel="alternate"/>
    {% for lang in g.languages %}
        <link rel="alternate" hreflang="{{ lang.iso }}" href="{{ request.path }}?lang={{ lang.iso }}"/>
    {% endfor %}
    {% block styles %}{% endblock %}
</head>
<body class="page-container">
<div id="header" class="py-2">
    <div class="container-xxl">
        <div class="col-md-8 mx-auto text-center">
            <a href="{% url "index" %}" class="link-dark text-decoration-none">PixSpeed.com</a>
        </div>
    </div>
</div>
<div class="py-4">
    {% block content %}{% endblock %}
</div>
<div id="footer" class="mt-5 mb-2 pt-5">
    <div class="container-xxl">
        <div class="col-md-8 mx-auto text-center">
            <h2>{{ g.total_images }}<br>Images optimized</h2><br>
            Made by <a href="https://loualcala.com/" target="_blank">Lou Alcalá</a>
        </div>
    </div>
</div>
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script>window.csrf_token = "{{ csrf_token }}";</script>
{% block scripts %}{% endblock %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6Q3F4SQ58W"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-6Q3F4SQ58W');
</script>
</body>
</html>