<div class="highlight p-sm-3 p-2 border rounded-2 mb-5">
    <div class="images-found">
        <div class="found-images-list">
            {% for image in images %}
                <div class="d-flex align-items-center" data-url="{{ image.url }}">
                    <div class="icon flex-shrink-0">
                        <img src="{{ image.url }}">
                    </div>
                    <div class="name fw-bold ms-2 flex-grow-1 me-3">{{ image.filename }}</div>
                    <div class="result ms-auto d-flex align-items-center flex-shrink-0">
                        <button class="btn btn-danger btn-sm remove-item">{% include "svgs/remove.svg" %}</button>
                    </div>
                </div>
            {% empty %}
                <div class="alert alert-warning">{{ g.i18n.no_images_found }}</div>
            {% endfor %}
        </div>
    </div>
    <div class="total-images-found text-center my-4">
        <b>{{ images | length }}</b> {{ g.i18n.images_found }}
    </div>
    {% if images|length %}
        <div id="actionConvertWrapper">
            <div class="form-check form-switch">
                <input class="form-check-input" name="format" value="" type="radio" id="originalCheck" checked>
                <label class="form-check-label" for="originalCheck">{{ g.i18n.keep_format }}</label>
            </div>
            <h4 class="mt-3">{{ g.i18n.convert_images }}</h4>
            <div class="d-flex flex-wrap">
                {% for extension in extensions %}
                    <div style="max-width: 120px; width: 100%">
                        <div class="form-check form-switch">
                            <input class="form-check-input" name="format" value="{{ extension }}" type="radio" id="{{ extension }}Check">
                            <label class="form-check-label" for="{{ extension }}Check">{{ extension|upper }}</label>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button id="processImages" class="btn btn-lg bd-btn-lg btn-bd-primary d-flex align-items-center justify-content-center fw-semibold w-100 mt-4">{{ g.i18n.optimize_all_images }}</button>
        </div>
        <div id="actionDownloadWrapper" style="display: none">
            <button id="downloadImages" class="btn btn-lg bd-btn-lg btn-bd-primary d-flex align-items-center justify-content-center fw-semibold w-100 mt-4">{{ g.i18n.download_all }}</button>
        </div>
    {% endif %}
</div>
